@tailwind base;
@tailwind components;
@tailwind utilities;
:root, [data-theme] {
  background: transparent!important;
}
html {
  overflow: hidden;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

#root {
}

.rounded-window {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
} 

@layer base {
  :root {
    --swiper-3d-shadow: rgba(0, 0, 0, .15);
    --background: hsl(0 0% 100%);
    --foreground: hsl(222.2 47.4% 11.2%);
    --sencondbackground: #f8f8f8;

    --hover: #efeee7d9;
    --hover-foreground: hsl(215.4 16.3% 46.9%);

    /* like: time  */
    --desc: #808080;
    /* like: no data found  */
    --ignore: #bababa;
    --tag: #c35af7;
    --tag-foreground: #fceefe;
    --scrollbar: #d6d7d9;

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 47.4% 11.2%);

    --muted: hsl(210 40% 96.1%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2 47.4% 11.2%);

    --border: #E7E7E5;
    --input: hsl(214.3 31.8% 91.4%);

    --primary: black;
    --primary-foreground: hsl(210 40% 98%);

    --secondary: hsl(253, 53%, 59%);
    --secondary-foreground: hsl(210 40% 98%);

    --accent: hsl(240, 5%, 96%);
    --accent-foreground: hsl(222.2 47.4% 11.2%);

    --destructive: hsl(0 100% 50%);
    --destructive-foreground: hsl(210 40% 98%);

    --ring: hsl(215 20.2% 65.1%);

    --header: rgb(249 250 251 / 0.9);

    --radius: 0.5rem;

    --md-editor-bg: #fff;
    --md-editor-text: hsl(222.2 47.4% 11.2%);
    --md-editor-separator: #bcbcbe;
    --md-editor-border: #e5e7eb;
    --shadow: 1px 1px 7px 3px #b1b1b142;
  }

  .dark {
    --swiper-3d-shadow: rgb(241 241 241 / 15%);
    --background: #0B0B0C;
    --foreground: #E1E1E1;
    --sencondbackground: #1C1C1E;

    --hover: #292929;
    --hover-foreground: hsl(215.4 16.3% 46.9%);

    --muted: hsl(224, 20%, 19%);
    --muted-foreground: hsl(215.4 16.3% 56.9%);

    --desc: #999999;
    --ignore: #6d6d6d;
    --tag: #c35af7;
    --tag-foreground: #1b1b1b;

    --scrollbar: #1b1b1b;

    --popover: hsl(224 71% 4%);
    --popover-foreground: hsl(215 20.2% 65.1%);

    --card: hsl(224 71% 4%);
    --card-foreground: hsl(213 31% 91%);

    --border: #0b0b0c;
    --input: hsl(216 34% 17%);

    --primary: #f9f9f9;
    --primary-foreground: hsl(0, 0%, 0%);

    --secondary: hsl(253, 53%, 59%);
    --secondary-foreground: hsl(210 40% 98%);

    --accent: hsl(214, 9%, 15%);
    --accent-foreground: hsl(210 40% 98%);

    --destructive: hsl(0 63% 31%);
    --destructive-foreground: hsl(210 40% 98%);

    --ring: hsl(216 34% 17%);

    --header: rgba(0, 0, 0, 0.8);

    --radius: 0.5rem;

    --md-editor-bg: #09090b;
    --md-editor-text: hsl(210 40% 98%);
    --md-editor-separator: #4b4b4d;
    --md-editor-border: #27272a;
    --shadow: 0 0 1px 1px #303030;
  }
}
